$color-white: #fff;

$color-blue: #009FE3;
$color-blue-2: #1490DF;
$color-blue-3: #21C6FF;

$color-blue-light: #F7F8FB;
$color-blue-light-2: #E2F3FC;

$color-navy-blue: #232B76;
$color-navy-blue-2: #042164;
$color-navy-blue-3:#001E61;

$color-black-3: #333333;
$color-black-6: #666666;

$color-gray-light:#707070;
$color-gray-light-2:#F5F5F5;
$color-gray-light-3:#E7EFF5;
$color-gray-light-4:#7C7C7C;
$color-gray-light-5:#989586;
$color-gray-light-6:#FBFBF8;

$color-orange:#F5B33C;