.form-pages {
    background-image: url('/file/image/bg-form.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 9em 0 4.5em 0;
    display: block;
    min-height: calc(100vh - (100px + 123px));
}
